@charset "utf-8";
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../img/index-backgound.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.visually-hidden {
    display: none;
}

p,
ul,
h2,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

label {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}
/* МЕНЮ */

.main-header {
    padding: 0 10px;
    margin-bottom: 60px;
    color: white;
    background-color: black;
}

.main-navigation {
    float: left;
    width: 780px;
    font-size: 0;
}

.main-navigation-item {
    display: inline-block;
    vertical-align: top;
}

.main-navigation-item a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    color: white;
}

.main-navigation-item a:hover {
    background: #242424;
}

.header-login {
    position: relative;
    float: right;
    max-width: 150px;
    font-size: 0;
}

.header-login a {
    display: inline-block;
    padding: 25px 0;
    padding-right: 20px;
    padding-left: 50px;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    color: white;
}

.header-login a:hover {
    filter: invert(100);
    background: black;
    color: white;
}

.header-login a::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/sprites.png") no-repeat;
    background-position: 0 -212px;
}

.header-login a:hover::before {
    opacity: .3;
}
/* ЛОГО и ПРЕИМУЩЕСТВА*/

.content-logo {
    width: 368px;
    height: 152px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.content-logo img {
    width: 368px;
    height: 152px;
}

.content-advantages {
    margin-bottom: 65px;
}

.content-advantages-block {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.content-advantages-block p {
    margin: 10px;
}

.content-advantages-block:nth-child(3n) {
    margin-right: 0;
}

.content-advantages-title {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 42px;
}

.content-advantages-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
}
/* ГЛАВНАЯ. ОСНОВНОЕ СОДЕРЖИМОЕ */

.content-index-row {
    margin-bottom: 35px;
    padding: 50px 80px;
    background: url("../img/column-delimiter.png") no-repeat center, white url("../img/content-background.jpg");
    color: black;
}

.content-left-column {
    float: left;
    width: 350px;
}

.content-right-column {
    float: right;
    width: 300px;
}

.content-column-title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}

.content-news-preview li {
    margin-bottom: 30px;
}

.content-news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    padding: 10px 33px;
    font-size: 14px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background:#663d15;
}

.btn:disabled {
    cursor: default;
    opacity: .5;
}

.btn:disabled:hover {
    background: black;
}

.content-gallery-block {
    position: relative;
    height: 270px;
}

.content-gallery-img {
    width: 286px;
    height: 164px;
    border: 7px solid white;
    background: #ccc;
}

.content-gallery-img img {
    width: 286px;
    height: 164px;
}

.content-gallery-prev,
.content-gallery-next {
    position: absolute;
    bottom: 0;
    width: 140px;
}

.content-gallery-prev {
    left: 0;
}

.content-gallery-next {
    right: 0;
}

.content-contacts-block,
.content-appointment-form p {
    margin-bottom: 30px;
}

.content-appointment-form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 106px;
    padding: 10px 15px;
    border: 2px solid black;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    background: #f9f6f3;
    outline: none;
    background: white url("../img/content-background.jpg");
    color: black;
}

.content-appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.content-appointment-form input:focus {
    border: 2px solid #663d15;
}

.content-appointment-form .btn {
    width: 100%;
}
/* ФУТЕР */

footer {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #252525 url("../img/footer-background.jpg");
    color: white;
}

.inner-footer {
    box-shadow: inset 0 60px 20px -30px rgba(0, 0, 0, 0.5);
}

.footer-contacts {
    float: left;
    margin-right: 80px;
}

.footer-contacts a {
    width: 320px;
    color: white;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    max-width: 240px;
    text-align: center;
}

.footer-social p {
    margin-bottom: 15px;
}

.footer-copyright {
    float: right;
    max-width: 320px;
}

.footer-copyright p {
    margin-bottom: 15px;
    text-align: center;
}

.footer-social .btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    padding: 0;
    font-size: 0;
    text-decoration: none;
    vertical-align: top;
    background: black url("../img/sprites.png") no-repeat center;
}

.footer-social .footer-social-vk {
    background-position: 9px -826px;
}

.footer-social .footer-social-fb {
    background-position: 14px -549px;
}

.footer-social .footer-social-inst {
    background-position: 12px -690px;
}

.footer-social-vk:hover {
    background-color: white;
    background-position: 9px -760px;
}

.footer-social-fb:hover {
    background-color: white;
    background-position: 14px -476px;
}

.footer-social-inst:hover {
    background-color: white;
    background-position: 12px -619px;
}

.footer-copyright .btn:hover {
    background-color: white;
    color: black;
}

/*Модальные окна*/

.modal {
    display: none;
    position: fixed;

    color: #000000;

    background-color: #f8f3f0;
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
    display: block;
}

.modal-login {
    top: 120px;
    left: 50%;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
}



.modal-close-login,
.modal-close-map{
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close-login::before,
.modal-close-map::before,
.modal-close-login::after,
.modal-close-map::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal-close-login::before,
.modal-close-map::before {
    transform: rotate(45deg);
}

.modal-close-login::after,
.modal-close-map::after{
    transform: rotate(-45deg);
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-btn {
    width: 100%;
}


.login-form input[type="text"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;

    font: inherit;
    color: #000000;
    text-transform: inherit;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border: 2px solid #663d15;
    outline: 0;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
    outline: 0;
}

.login-form .login-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.login-checkbox {
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.restore {
    color: inherit;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.login-form .button {
    width: 100%;
    margin-right: 0;
}

.modal-map {
    top: 50%;
    left: 50%;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
}

.modal-map p {
    margin: 0;
}
/* Текстовая страница */

.inner-page {
    background: white url("../img/content-background.jpg");
}

.content-block {
    color: black;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin-bottom: 45px;
    font-size: 0;
}

.breadcrumbs a,
.breadcrumbs span {
    position: relative;
    display: inline;
    padding-right: 40px;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}

.breadcrumbs a::after {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 8px;
    height: 8px;
    background: black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.breadcrumbs span {
    color: #aba9a7;
}

.container-title {
    text-align: center;
    margin-bottom: 65px;
}

.container-title-text {
    position: relative;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: red;
    z-index: 2;
    background: white url("../img/content-background.jpg");
}

.container-title::after {
    position: relative;
    top: -25px;
    display: block;
    border: 1px solid black;
    z-index: 1;
    content: "";
}

.content-row {
    margin-bottom: 45px;
}

.content-about-title+.content-row {
    margin-bottom: 80px;
}

.content-remedy,
.content-entry {
    width: 400px;
}

.content-pricing-table,
.content-conclusion {
    width: 480px;
}

.content-remedy-title,
.content-pricing-title,
.content-about-title {
    width: 250px;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
}

.remedy-list li {
    position: relative;
    padding-bottom: 15px;
    padding-left: 20px;
}

.remedy-list li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background: black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-pricing-table table {
    width: 100%;
}

.content-pricing-table td {
    border: 2px solid black;
    padding: 10px 15px;
}
/* СТРАНИЦА ТОВАРА */

.content-photos {
    width: 460px;
}

.content-article {
    width: 390px;
    padding-top: 20px;
}

.content-article > p {
    margin-bottom: 40px;
}

.content-article .content-pricing-addition {
    margin-bottom: 60px;
}

.content-pricing {
    font-size: 0;
}

.content-pricing p,
.content-pricing a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}

.content-pricing p {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background: #e5e5e5;
}

.content-article-goods {
    margin-bottom: 35px;
}

.content-article-goods p {
    float: left;
}

.content-article-goods p.current {
    float: right;
    color: #aba9a7;
}

.content-list-title {
    margin-bottom: 30px;
}

.content-article-list li {
    position: relative;
    margin-left: 20px;
}

.content-article-list li::before {
    position: absolute;
    top: 8px;
    left: -17px;
    width: 8px;
    height: 8px;
    background: black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.content-photos-image {
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.content-photos-block > a {
    display: block;
    float: left;
    width: 140px;
    margin-right: 20px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.content-photos-block > a:nth-child(3n) {
    margin-right: 0;
}
/* ГАЛЕРЕЯ ТОВАРОВ */

.content-brands {
    width: 200px;
}

.content-brands-title {
    margin-bottom: 30px;
}

.content-brands label {
    margin-bottom: 15px;
}

label + .content-brands-title {
    margin-top: 45px;
}

.content-brands label + button {
    margin-top: 45px;
}

.content-catalog {
    width: 700px;
}

.content-catalog-item {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.content-catalog-item:nth-child(3n) {
    margin-right: 0;
}

.content-catalog-item .content-catalog-name {
    display: block;
    text-decoration: none;
    color: black;
}

.content-catalog-name,
.content-catalog-name+div {
    margin-left: 15px;
}

.content-catalog-item .content-catalog-name:hover {
    color: #663d15;
}

.content-pricing .btn {
    padding-left: 20px;
    padding-right: 15px;
}

.content-pricing {
    margin-bottom: 15px;
}

.content-catalog-main {
    margin-bottom: 25px;
}

.paginator {
    font-size: 0;
}

.paginator a,
.paginator span {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 7px;
    background: black;
    color: white;
    text-decoration: none;
}

.paginator .current {
    background: white;
    color: black;
}

.paginator a:hover {
    background: #663d15;
}