html {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
}

 a { 
    text-decoration: none; 
   } 

body {
	background-image: url(../img/background.png);
}

header{
	position:fixed;
	width:100%;
	padding:10px;
	top:0;
	left:0;
	background-color: black;
}

.logo{
   margin-left:20.2%;
   margin-top:120px;
}

nav{
	font-size: 16px;
	vertical-align: middle;
	margin-left:20%;
	margin-right:45%;
}

.nav-strokes {
	display:flex;
	flex-direction: row;
    justify-content: space-between;
}
.btn {
	padding:5px;
	border:none;
	background-color: black;
	color:white;
	border-radius: 0;
}

.btn:hover {
	border-bottom: solid white;
	border-radius: 0;
}

.btn:focus {
	outline: none;
}
.features{
	margin-top:3%;
	margin-left:25%;
	margin-right:25%;
	font-size: 14px;
	text-align: center;
	color:white;
	display:flex;
	flex-direction: row;
    justify-content: space-between;
}
.feat{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.login{
	align-items: center;
	position: absolute;
	top:0;
	right:27%;
	width: 100px;
	font-size: 16px;
	height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
}

.login:hover{
	background-color: white;
	color:black;
	overflow: hidden;
}

.btn-icon{
	position: relative;
	left:-15px;
	top: 2px;
	filter:brightness(30%)
}